.category {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0px 30px;
}

.category h3 {
  margin: 5px;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
